div#banner
{
width:100%;
height:100%;
float:left;
margin:30px 0px 0px 0px;
border-top:solid 5px #fff;
border-bottom:solid 5px #666;
}
img#bannerbackground
{
width:100%;
height:100%;
float:left;
background-size:100% 100%;
}
div#bannerpos
{
width:100%;
height:0px;
position:relative;
bottom:50%;
float:left;
}
div#bannerinr
{
width:100%;
height:140px;
margin:-70px 0px;
text-align:center;
line-height:140px;
color:#fff;
font-size:90px;
background-color:#0cf;
}