div#build
{
width:100%;
float:left;
margin-top:85px;
}
div#buildinr
{
width:960px;
margin:0px auto;
}
div#buildinf
{
width:960px;
float:left;
}
div#buildphoto
{
width:960px;
height:640px;
float:left;
background-size:960px 640px;
background-repeat:no-repeat;
background-position:center;
border-bottom:5px solid #666;
}
div#buildtopbar
{
width:960px;
height:70px;
float:left;
background-color:rgba(0,0,0,0.5);
color:#fff;
line-height:70px;
font-size:30px;
}
div#buildtitle
{
height:30px;
float:left;
color:#fff;
border-left:5px solid #fff;
line-height:30px;
margin:10px;
padding:10px;
}
div#buildprice
{
height:30px;
float:right;
color:#fff;
line-height:30px;
margin:10px;
padding:10px;
background-color:#0cf;
}
div#buildbar
{
width:960px;
height:50px;
float:left;
margin-top:520px;
background-color:rgba(0,0,0,0.5);
}
a.buildbaritem,a.buildbaritemfl
{
width:126px;
height:30px;
float:right;
margin:9px;
line-height:30px;
color:#fff;
text-align:center;
border:1px solid #999;
border-radius:2px;
cursor:pointer;
background-color:transparent;
margin:10px 10px 10px 0px;
}
a.buildbaritemfl
{
float:left;
margin:10px 0px 10px 10px;
}
div#buildtext
{
width:960px;
float:left;
margin-top:30px;
}
div#buildtextrowtop,div.buildtextrow
{
width:940px;
padding:10px;
float:left;
background-color:#ccc;
border-top:1px solid #fff;
font-size:16px;
}
div#buildtextrowtop
{
height:30px;
line-height:30px;
font-size:20px;
color:#fff;
border-width:0px;
background-color:#0cf;
}
div.buildtextrow
{
cursor:pointer;
}
div#checkout
{
width:100%;
float:left;
margin-top:30px;
background-color:#fff;
}
div#checkoutinr
{
width:960px;
margin:0px auto;
}
div#checkoutheader
{
width:960px;
height:50px;
float:left;
font-size:20px;
line-height:50px;
border-bottom:2px solid #ddd;
}
div#checkoutitems
{
width:960px;
float:left;
padding-top:10px;
border-bottom:2px solid #ddd;
}
div.checkoutitem,div.checkouttotal,div.checkoutinf,div.checkoutcharge
{
width:960px;
height:22px;
float:left;
}
div.checkoutitemquantity
{
width:100px;
height:22px;
float:left;
text-align:center;
}
div.checkoutitemname
{
width:750px;
height:22px;
float:left;
margin-right:20px;
overflow:hidden;
}
div.checkoutitemprice,div.checkoutchargevalue
{
width:90px;
height:22px;
float:left;
text-align:right;
}
div.checkouttotal
{
border-top:1px solid #ccc;
background-color:#eee;
}
div.checkoutchargename
{
width:870px;
height:22px;
float:left;
}
div#payment
{
width:100%;
float:left;
margin-top:30px;
}
div#paymentinr
{
width:960px;
margin:0px auto;
}
form#payment-form
{
width:900px;
float:left;
padding:30px 30px 0px 30px;
background-color:#fff;
}
div.payment-status
{
width:880px;
height:20px;
background-color:#ff9696;
color:#ff0000;
float:left;
padding:10px;
line-height:20px;
margin-bottom:30px;
display:none;
}
div.paymentrow
{
width:900px;
height:35px;
float:left;
margin-bottom:30px;
}
div.paymentfakeinput,div.paymentfakeinputnm
{
width:433px;
height:33px;
text-indent:10px;
font-size:14px;
border:1px solid #aaa;
line-height:33px;
float:left;
margin-right:30px;
background-color:#0cf;
color:#fff;
}
div.paymentfakeinputnm
{
margin:0px;
}
input.paymentinput,input.paymentinputnm
{
width:435px;
height:35px;
text-indent:10px;
line-height:35px;
padding:0px;
float:left;
margin:0px 30px 0px 0px;
outline:none;
}
input.paymentinputnm
{
margin:0px;
}
button.submit-button
{
width:900px;
height:35px;
float:left;
background-color:#0cf;
border:none;
color:#fff;
}
input.card-expiry-month, input.card-expiry-year
{
height:35px;
text-indent:10px;
outline:none;
}
input#sitepromocode
{
width:300px;
height:35px;
text-indent:10px;
outline:none;
}
div#paymentnotice
{
width:880px;
height:35px;
line-height:35px;
padding:0px 10px;
float:left;
margin-bottom:30px;
text-align:center;
background-color:#eee;
}