div#thanks
{
width:100%;
float:left;
margin-top:65px;
background-color:#fff;
}
div#thanksinr
{
width:960px;
margin:0px auto;
}
div#thanksbanner
{
width:900px;
height:30px;
float:left;
padding:30px;
line-height:30px;
margin-top:10px;
background-color:#f2f2f2;
font-size:30px;
text-align:center;
}
div#thankscontent
{
width:900px;
float:left;
padding:30px;
margin-top:10px;
background-color:#f2f2f2;
}