body
{
background-color:#ddd;
margin:0px;
font-family:'Alegreya Sans SC',sans-serif;
}
a
{
text-decoration:none;
color:inherit;
}
::-webkit-scrollbar{width:5px;}
::-webkit-scrollbar-track{background-color:#fff;}
::-webkit-scrollbar-thumb{background:#0CF;}
::-webkit-scrollbar-thumb:window-inactive {background:#00B8FF;}
div#topbar
{
width:100%;
height:50px;
float:left;
position:fixed;
top:0px;
left:0px;
background-color:#fafafa;
border-bottom:5px solid #0CF;
}
div#topbarinr
{
width:960px;
height:50px;
margin:0px auto;
}
div#topbarnav
{
height:50px;
float:right;
}
a.topbarnavitem
{
width:105px;
height:50px;
float:left;
line-height:50px;
font-size:15px;
float:left;
color:#000;
text-align:center;
cursor:pointer;
}
a.topbarnavitem:hover
{
}
a.topbarnavitem:active
{
color:#0CF;
}
div.topbarnavddholder
{
width:200px;
float:left;
margin-top:15px;
margin-left:-55px;
border:1px solid #999;
border-radius:2px;
}
div.topbarnavdd
{
width:105px;
height:50px;
float:left;
overflow:hidden;
}
div.topbarnavdd:hover
{
height:auto;
overflow:visible;
}
a.topbarnavitemdd
{
width:200px;
height:50px;
float:left;
line-height:50px;
background-color:#fff;
text-align:center;
}
a.topbarnavitemdd:hover
{
background-color:#eee;
}
span.topbarnavitembutton
{
width:85px;
height:30px;
float:left;
margin:9px;
line-height:30px;
text-align:center;
border:1px solid #999;
border-radius:2px;
cursor:pointer;
background-color:#fff;
}
span.topbarnavitembutton:hover
{
background-color:#eee;
border-color:#000;
}